*{
  font-family: Arial, Helvetica, sans-serif;
}


body {
  padding: 60px;
}

input{
  color:grey;
  width:100%;
  font-size:1.2rem
}

.card {
  max-width: 1100px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border:5px solid blue;
  gap: 0.5rem 0;
  
}

.box {
  /* flex: 2; */
  text-align: center;
  width: 32%;
  min-width: 200px;
  height: 20rem;
  border:2px solid coral;
  overflow: hidden;
  
}

.box img {  
  width: 75%;
  min-width: 300px;
  height: 80%;
}